.sf-toolbar{
  position:absolute
}

.bg-ldapadmin-navbar{
  background-color:#474644!important
}

.bg-ldapadmin-menu{
  background-color:#e9e9e9!important 
}

.bg-ldapadmin-menu span, .bg-ldapadmin-menu .nav-link{
  color:#474644!important
}

.bg-ldapadmin-menu .active{
  background-color: transparent!important;
  border-left : 2px solid #f7a616;
  padding-left : 12px
}

.bg-danger{
  background-color:#dc3545
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: .25rem;
}

.callout {
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  border-left: 5px solid #e9ecef;
  margin-bottom: 1rem;
  padding: 1rem;
}

.callout a {
  color: #495057;
  text-decoration: underline;
}

.callout a:hover {
  color: #e9ecef;
}

.callout p:last-child {
  margin-bottom: 0;
}

.callout.callout-danger {
  border-left-color: #bd2130;
}

.callout.callout-warning {
  border-left-color: #d39e00;
}

.callout.callout-info {
  border-left-color: #117a8b;
}

.callout.callout-success {
  border-left-color: #1e7e34;
}

.progress{
  height:20px
}

#body{
  height: calc(100vh - 63px);
}

.fs-7{
  font-size: 0.75rem !important
}

.fa-stack.small { font-size: 0.5em; }
i { vertical-align: middle; }

#add_group .fa-plus:before{
  position: absolute;
right: -0.5em;
top: 0.75em;
font-size: 1em;
}

.groupe_col{
  max-width:400px
}

.border-dark{
  border-color: #474644 !important
}

.btn-outline-dark{
  color : #474644;
  border-color: #474644 !important
}

.btn-outline-dark:hover{
  border-color: #474644 !important;
  background-color: #474644 !important
}

.bi.bi-fa{
  vertical-align: 0.125em!important
}