{% extends 'ldap/admin/ldapadmin.base.html.twig' %}  

{% block body %}

<h1 class="border-bottom border-dark border-2 py-2">{{ 'AllGroup'|trans }}</h1>

<script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

<div class="row gx-4 m-0">

    
    <div class="pb-2">
        {% if is_granted('create', user) %}
            <a class="text-decoration-none text-body" href="{{ path('ldapadmin_groupcreate') }}">
                <span class="me-3">
                  <span id="add_group" class="fa-stack small">
                    <i class="fa-solid fa-users fa-stack-2x"></i>
                    <i class="fa-solid fa-plus fa-stack-1x"></i>
                  </span>
                  {{ 'groupCreate'|trans }}
               </span>
            </a>
        {% endif %}
    </div> 
    <div id="table_user"></div>
    {{ sg_datatables_render(datatable) }}
</div>
<script>

$(document).ready(function(){
    var oTable = $('#sg-datatables-group_datatable').dataTable();
    $.fn.DataTable.ext.pager.numbers_length = 4;
    
    $('#sg-datatables-group_datatable_wrapper .bottom').addClass('row');
    $('#sg-datatables-group_datatable_wrapper .bottom>div').addClass('col-6');
    $('#sg-datatables-group_datatable_wrapper .bottom>div').addClass('py-0')
    $('#sg-datatables-group_datatable_wrapper .bottom>div').eq(1).find("label").addClass('float-end');
    $('.dropdown-toggle').on('show.bs.dropdown', function(){
        
    });
    
    $('#tab li:first-child button').trigger('click');
});

</script>

{% endblock %}