<div class="col-2 p-0 d-flex flex-column flex-shrink-0 p-3 text-white bg-secondary">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"> Utilisateurs
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="">Utilisateurs actifs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ldapadmin_usercreate') }}">Créer un utilisateur</a>
                </li>
            </ul>
        </li>
        
        <li>
            Groupe
            <ul>
                <li>
                    <a class="nav-link" href="">Liste des groupes</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('ldapadmin_groupcreate') }}">Créer un groupe</a>
                </li>
            </ul>
        </li>
        <li>
            Importation
            <ul>
                <li>
                    <a class="nav-link" href="{{ path('ldapadmin_userbulk') }}">Importations d'utilisateurs</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('ldapadmin_usergroupupdate') }}">Importations de groupes</a>
                </li>
            </ul>
        </li>
    </ul>

  </div>
