<div class="col-2 p-0 d-flex flex-column flex-shrink-0 p-3 text-white bg-secondary">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"> Utilisateurs
            <ul class="nav d-block">
                <li class="nav-item">
                    <a class="text-white nav-link {% if activeMenu == "user_list" %}active{% endif %}" href="">Utilisateurs actifs</a>
                </li>
                <li class="nav-item">
                    <a class="text-white nav-link {% if activeMenu == "user_create" %}active{% endif %}" href="{{ path('ldapadmin_usercreate') }}">Créer un utilisateur</a>
                </li>
            </ul>
        </li>
        
        <li>
            Groupe
            <ul class="nav d-block">
                <li>
                    <a class="text-white nav-link" href="">Liste des groupes</a>
                </li>
                <li>
                    <a class="text-white nav-link {% if activeMenu == "group_create" %}active{% endif %}" href="{{ path('ldapadmin_groupcreate') }}">Créer un groupe</a>
                </li>
            </ul>
        </li>
        <li>
            Importation
            <ul class="nav d-block">
                <li>
                    <a class="text-white nav-link {% if activeMenu == "user_import" %}active{% endif %}" href="{{ path('ldapadmin_userbulk') }}">Importations d'utilisateurs</a>
                </li>
                <li>
                    <a class="text-white nav-link {% if activeMenu == "user_group_update" %}active{% endif %}" href="{{ path('ldapadmin_usergroupupdate') }}">Importations de groupes</a>
                </li>
            </ul>
        </li>
    </ul>

  </div>
