{% import "macros/treeitem.html.twig" as macros %}

{% block body %}
<div class="position-relative">
    <nav class="mt-2">
        {{ baseTree }}
        <ul class="nav nav-pills nav-sidebar flex-column ms-2" role="menu" data-accordion="false">
            {{ macros.treeitems(tree.entries[baseTree].children, tree, user) }}

        </ul>
    </div>
</div>
{% endblock %}
