{% extends 'ldap/admin/ldapadmin.base.html.twig' %}  

{% block body %}

<h1>{{ title|trans }}</h1>
{# Affiche tous les messages flash #}
{% for type, messages in app.flashes %}
    <div class="alert bg-{{ type }} {% if type != "info" %}text-white{% endif %}">

    {% for message in messages %}
        <p class="m-0">
            {{ message|raw}}
        </p>
    {% endfor %}
    </div>
{% endfor %}
{% include 'ldap/admin/formdefault.html.twig'%}
{% endblock %}