                                <div>
                                    Le nouveau mot de passe <strong>doit comprendre</strong> 8 caractères minimum et respecter les caractéristiques suivantes :
                                    <ul>
                                        <li><i>une majuscule minimum</i></li>
                                        <li><i>un chiffre minimum</i></li>
                                    </ul>
                                    Le nouveau mot de passe ne <strong>doit pas </strong>être un mot de passe récent.
                                </div>