
                            <h2>Réinitialisez votre mot de passe</h2>
                            <p>
                                Entrez votre nom d'utilisateur (ex:  Clémence Dupont = cdupont)
                            </p>
                            <p>
                                Validez
                            </p>
                            <p>
                                Puis consultez votre messagerie et cliquez sur le lien.
                            </p>

