<footer class="footer" role="contentinfo">
     <div class="custom" data-target="_self">
          <div class="row m-0 social-media">
               <div class="col-6 col-md-4 text-center">Visitez nos réseaux sociaux</div>
               <div class="col-6 col-md-4 text-center">
                    <a href="https://www.youtube.com/channel/UC7ny3TImXOBrgsEfB8PkgJA" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube">&nbsp;</i></a>
                    <a href="https://www.instagram.com/thestreamsh0p/"><i class="fab fa-instagram">&nbsp;</i></a> <a href="https://twitter.com/thestreamshop"><i
                         class="fab fa-twitter">&nbsp;</i></a> <a href="https://www.facebook.com/Thestreamshop-109148358010212"><i class="fab fa-facebook">&nbsp;</i></a>
               </div>
               <div class="col-6 col-md-4 d-none d-md-block">&nbsp;</div>
          </div>
          <div class="row m-0 links">
               <div class="col-12 col-sm-3 text-center">
                    <img id="logo" src="/img/LOGO_549x217.png" alt="thestreamshop">
               </div>
               <div class="col-12 col-sm-3">
                    <p class="footer-title">
                         <strong><span style="color: #e13b8d;">theStreamshop</span></strong>
                    </p>
                    <ul>
                         <li><a href="/complete-packager">Overlays complets</a></li>
                         <li><a href="/alerts">Alertes Twitch</a></li>
                         <li><a href="/transitions">Transitions</a></li>
                         <li><a href="/chat-screens">Écrans de discussions</a></li>
                         <li><a href="/intermission-screens">Écrans d'entracte</a></li>
                         <li><a href="/webcam-overlays">Overlays webcam</a></li>
                         <li><a href="/animated-bg">Fonds animés</a></li>
                         <li><a href="/emotes-badges/emotes">Emotes / Ensembles d'emotes</a></li>
                         <li><a href="/emotes-badges/badges">Badges</a></li>
                    </ul>
               </div>
               <div class="col-12 col-sm-3">
                    <p class="footer-title">
                         <strong><span style="color: #e13b8d;">A propos<br></span></strong>
                    </p>
                    <ul>
                         <li><a href="/about">A propos de theStreamshop</a></li>
                         <li><a href="/tutorials">Tutoriels</a></li>
                         <li class="d-none"><a href="/partners">Nos partenaires</a></li>
                         <li class="d-none"><a href="/press">Presse</a></li>
                    </ul>
               </div>
               <div class="col-12 col-sm-3">
                    <p class="footer-title">
                         <strong><span style="color: #e13b8d;">Mentions légales<br></span></strong>
                    </p>
                    <ul>
                         <li><a href="/legal-notice">Mentions légales</a></li>
                         <li><a href="/gtc">Conditiions générales d'utilisation </a></li>
                         <li><a href="/contact" hreflang="fr">Contact</a></li>
                    </ul>
               </div>
          </div>
     </div>

</footer>